<div class="container">
  <div class="row text-center">
      <form action="/answer" method="get">
        <label for="question" class="title-coach">Speak to your coach</label><br>
        <input type="text" id="question" name="query" placeholder="What time is it?" class="text-align form-control col-md-6">
        <input type="submit" value="Go on!" class="btn btn-primary">
      </form>
  </div>
</div>
